/* Sommaire */

/*  
    1 - Racine et variables
    2 - HTML et body
    3 - Balises générales
    4 - Header
    5 - Section: Top
    6 - Section: Hébérgement
    7 - Section: Activités
    8 - Footer
    9 - Media Queries
*/

/* 1 - Racine et variables */

:root {
    --primary-color: #0065FC;
    --primary-color-light: #DEEBFF;
    --secondary-color: #F2F2F2;
    --white: #FFFFFF;
    --shadow: 0 0 20px rgba(0,0,0,0.1);
}

/* 2 - HTML et body */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
box-sizing: inherit;
}

body {
    font-family: "Raleway", sans-serif;
    margin: auto 3%;
    -webkit-tap-highlight-color: transparent;
}

/* 3 - Balises générales */

img {
    display: block;
    max-width: 100%;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

a:hover h3,
a:hover h4 {
    color: var(--primary-color);
}

nav {
    display: flex;
}

h1, h2 {
    font-size: 24px;
}

/* 4 - Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-height: 50px;
}

header a {
    border-top: 3px solid transparent;
    padding: 50px 20px;
    text-align: center;
}

header a:hover,
header a:focus {
    border-top: 3px solid var(--primary-color);
    color: var(--primary-color);
}

/* 5 - Section: Top */

.CTA h1 {
    margin-top: 40px;
    margin-bottom: 0;
}

.CTA p {
    margin-bottom: 40px;
}

form {
    display: flex;
    font-weight: bold;
    margin: 20px 0;
}

.search-bar {
    border: var(--secondary-color) 1px solid;
    width: min(100%,240px);
    outline: none;
}

.search-bar[placeholder] {
    color: inherit;
    font-weight: inherit;
    padding-left: 20px;
    padding-right: 10px;
}

form button {
    background: var(--primary-color);
    color: var(--white);
    padding: 16px 20px;
    font-weight: inherit;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

form button:hover {
    filter: brightness(95%);
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    background: var(--secondary-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.search-button-small {
    display: none;
}

.filtres-container {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.filtres-container h3 {
    margin-right: 10px;
}

.filtre {
    position: relative;
    display: inline-block;
    margin: 12px;
    border: 3px solid var(--secondary-color);
    border-radius: 30px;
    padding: 14px;
    padding-left: 55px;
    font-weight: bold;
    cursor: pointer;
}

.filtre:hover {
    transform: scale(1.02);
}

.filtre i {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -8px;
    top: -2px;
    bottom: -2px;
    min-width: 50px;
    color: var(--primary-color);
    background: var(--primary-color-light);
    border-radius: 50%; 
}

.search-info {
    display: flex;
    margin: 24px 0;
}

.search-info p {
    align-self: flex-start;
    margin: 5px 0 0 5px;
}

.search-info i {
    align-self: flex-start;
    color: var(--primary-color);
    font-size: 14px;
    padding:5px 10px;
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
}

/* 6 - Section: Hébérgement */

#hebergements {
    display: flex;
}

.hebergements-principal {
    background: var(--secondary-color);
    width: 67%;
    border-radius: 20px;
    padding: 30px;
    margin-right:40px;
}

#hebergements aside {
    background: var(--secondary-color);
    width: 33%;
    border-radius: 20px;
    padding: 30px;
}

#hebergements img {
    object-fit: cover;
}

.cartes-principal {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.carte {
    background: var(--white);
    border-radius: 20px;
    width: 31%;
    padding: 5px;
    margin-bottom: 30px;
    box-shadow: var(--shadow);
}

.carte img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 100px;
}

.carte h4,
.carte p {
    margin: 5px 10px;
}

.carte p {
    font-size: 14px;
}

.span-bold {
    font-weight: bold;
}

.span-primary {
    color: var(--primary-color);
}

.span-secondary {
    color: var(--secondary-color);
}

aside :last-child {
    margin-bottom: 0;
}

.aside-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aside-carte {
    background: var(--white);
    border-radius: 20px;
    width: 100%;
    padding: 5px;
    margin-bottom: 30px;
    box-shadow: var(--shadow);
}

.aside-carte a {
    display: flex;
}

.aside-carte img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 33%;
    aspect-ratio: 1;
}


.aside-carte h4,
.aside-carte p {
    margin: 5px 0;
}

.aside-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    padding-left: 20px;
    width: 67%;
}

.stars i {
    display: inline-block;    
}


/* 7 - Section: Activités */


/* 8 - Footer */


/* 9 - Media Queries */

/* Tablette */

@media screen and (max-width:992px) {
    
    /* Tablette - Section: Hébérgement */

    .hebergements-principal {
        padding: 16px;
    }
    
    #hebergements aside {
        padding: 16px;
    }
    
    #hebergements p {
        font-size: 14px;
    }

    .carte {
        width: 45%;
    }

    .aside-carte a {
        flex-direction: column;
    }

    .aside-right {
        width: 100%;
        padding: 5px 10px;
    }

    .aside-carte img {
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        height: 100px;
        width: 100%;
    }

}

/* Mobile */

@media screen and (max-width:768px) {
    
    /* Mobile - HTML et body */

    body {
        margin: 0;
    }

    /* Mobile - Balises générales */
    
    nav {
        margin-top: 16px;
        width: 100%;
    }

    section {
        margin: 16px;
    }

    h1, h2 {
        margin: 24px 0;
    }
    
    /*  Mobile - Header */

    header {
        margin-top: 20px;
        flex-direction: column;
        justify-content: center;
    }

    header a {
        width:50%;
        padding: 20px;
        border-top: none;
        border-bottom: 3px solid var(--secondary-color);
    }

    header a:hover,
    header a:focus {
        border-top: none;
        border-bottom: 3px solid var(--primary-color);
        color: var(--primary-color);
    }

    /* Mobile - Section: Top */

    .search-button-large {
        display: none;
    }

    .search-button-small {
        display: block;
        border-radius: 10px;
        transform: translateX(-10px);
    }

    .filtres-container h3 {
        width: 100%;
        margin-right: 0;
    }

    .filtre {
        margin: 8px;
    }

    /* Mobile - Section: Hébérgement */

    #hebergements {
        flex-direction: column;
        margin: 0;
    }

    .hebergements-principal {
        order: 2;
        width: 100%;
        background: var(--white);
    }

    #hebergements aside {
        width: 100%;
        border-radius: 0;
    }

    .carte {
        width: 100%;
    }

    .aside-carte a {
        flex-direction: row;
    }

    .aside-right {
        width: 67%;
    }

    .aside-carte img {
        border-radius: 0;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        width: 33%;
    }

}